@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;

  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 100%;
  /* or 28px */

  display: flex;
  align-items: center;

  /* Gray darker */

  color: #4E4E4E;
}

* {
  box-sizing: border-box;
}